{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block page-title %}
    My home page
{% endblock page-title %}
{% block content %}
    {% block permission %}{% endblock permission %}
    <h1>
        welcome: {{ user.username }}
    </h1>
    <h2>
        Bulletin Board
    </h2>

{% block notice %}
    <div class="col-md-8">
        <div class="content-section">
            <marquee scrollamount="2" behavior="scroll" direction="down">
                {% for i in list %}
                    <tr>
                        <h2>{{ i.announcement_text }}</h2>
                        <p>The announcement date is: {{ i.announcement_date }}</p>
                    </tr>
                {% endfor %}
            </marquee>
            {% if user.is_dog_garden_admin %}
                <a class="btn btn-outline-info"  href="{% url 'edit_announcement_board' %}">Edit</a>
            {% endif %}
        </div>
    </div>
{% endblock notice %}


{% endblock content %}