{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block page-title %}
    Service coordination
{% endblock page-title %}
{% block content %}
<h2>Dogsitter service:</h2>

    {% for i in dogsitters_activity  %}
                <article class="media content-section">
                    <div class="media-body">
                        <p>
                            <form method="get" action="/add_service_request/">
                                <p>
                                    Date: {{ i.activity_date }} . {{ i.activity_start }} - {{ i.activity_end }}
                                </p>
                                <p>
                                    Dogsitter:  {{ i.user_id.first_name }} , {{ i.user_id.last_name }}
                                </p>
                                <p>
                                    phonenumber: {{ i.user_id.phone_number }}
                                </p>
                                <a class="btn btn-outline-info" href="{% url 'add_service_request' %}?activity_id={{ i.id }}">Send ensure request</a>
                                <form method="get" action="/cancel_service_request/">
                                <a class="btn btn-outline-info" href="{% url 'cancel_service_request' %}?activity_id={{ i.id }}">Cancel ensure request</a>
                            </form>
                            </form>

                        </p>
                    </div>
                </article>

    {% endfor %}


{% endblock content %}