{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>MY SERVICE REQUESTS:</h2>
    {% for i in list %}
                    <p>
                        Date: {{ i.activity_id.activity_date }} - start hour: {{ i.activity_id.activity_start }} - end hour: {{ i.activity_id.activity_end }} Dog Owner Details: first name: {{ i.requesting_user.first_name }} - last name: {{ i.requesting_user.last_name }} - phonenumber: {{ i.requesting_user.phone_number }}
                    </p>
    {% endfor %}


{% endblock content %}