{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page-title %}
    View dog owner users
{% endblock page-title %}
{% block content %}
<h2>List of dog sitter users: </h2>
    {% for i in list %}
        <article class="media content-section">
        <div class="media-body">

            <tr>
                <p>Username: {{ i.username }}</p>
                <p>First name: {{ i.first_name }}</p>
                <p>Last name: {{ i.last_name }}</p>
                <p>ID: {{ i.user_id }}</p>
                <p>Email: {{ i.email }}</p>
                <p>Phone number: {{ i.phone_number }}</p>
                <p>City: {{ i.city }}</p>
                <p>Street: {{ i.street }}</p>
                <p>Apartment number: {{ i.app_number }}</p>
                <p>Zip: {{ i.zip }}</p>
                <p>
                    <form method="get" action="/delete_user/">
                        <a class="btn btn-outline-info"  href="{% url 'delete_user' %}?user_id={{ i.id }}"><img src="{% static 'home/img/deleteuser.png' %}" style="height: 50px; width: 160px;"/></a>
                    </form>
                    </form>

                </p>
            </tr>

        </div>
        </article>
    {% endfor %}
{% endblock content %}