{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page-title %}
    Garden reports
{% endblock page-title %}
{% block content %}
<h4>Choose the garden where you want to see the hazards:</h4>
            {% for i in list %}
                <article class="media content-section">
                    <div class="media-body">
                        <p>
                            <form method="get" action="/view_all_hazard_report/">
                                <a class="gname">{{ i.name }}</a>
                                <a class="btn btn-outline-info"  href="{% url 'view_all_hazard_report' %}?gname={{ i.name }}" ><img src="{% static 'home/img/choose.png' %}" style="height: 50px; width: 160px;"/></a>
                            </form>
                        </p>
                    </div>
                </article>
            {% endfor %}
{% endblock content %}