{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page-title %}
    Update hazard status
{% endblock page-title %}
{% block content %}

<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Update the hazard report status:
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    <img src="{% static 'home/img/update.png' %}" style="height: 50px; width: 160px;"/>
                </button>
            </div>
        </form>
    </div>


{% endblock content %}