{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
            {% for i in list %}
                    <p>
                        <form method="get" action="/view_users_in_garden/">
                            <a class="gname">{{ i.name }}</a>
                            <a class="btn btn-outline-info"  href="{% url 'view_users_in_garden' %}?gname={{ i.name }}" >Choose</a>
                        </form>
                    </p>
            {% endfor %}
{% endblock content %}

