{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page-title %}
    Hazard view
{% endblock page-title %}
{% block content %}
<h2>List of hazards: </h2>
    {% for i in list %}
        <article class="media content-section">
        <div class="media-body">

            <tr>
                <p>The title of the report is: {{ i.report_title }}</p>
                <p>The status is: {{ i.report_status }}</p>
                <p>The date is: {{ i.report_date }}</p>
                <p>The garden is: {{ i.garden_name }}</p>
                <h4>{{ i.report_text }}</h4>
                <p>
                    <form method="get" action="/update_hazard_report_status/">
                        <a class="btn btn-outline-info"  href="{% url 'update_hazard_report_status' %}?report_id={{ i.id }}"><img src="{% static 'home/img/updatestatus.png' %}" style="height: 50px; width: 160px;"/></a>
                    </form>
                </p>
            </tr>

        </div>
        </article>
    {% endfor %}
{% endblock content %}